---
// components
import Section from "../elements/Section.astro";
import ProjectCard from "../elements/ProjectCard.astro";
import Text from "../elements/Text.astro";


// content collection
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const featuredProjects = projects.filter(project => project.data.isFeatured === true);
---

<Section
    aria-label="Featured Projects"
    title="Featured Projects"
    titleHeading="Cosas que estoy construyendo"
>
    {
        featuredProjects.length === 0 ? (
            <Text variant={'normal'} class="text-base-400">// work in progress — los proyectos aparecerán aquí en cuanto haya algo digno de mostrar.</Text>
        ) : featuredProjects.map((project) => (
            <ProjectCard
                title={project.data.title}
                year={project.data.year}
                github={project.data.github}
                website={project.data.liveSite}
                description={project.data.description}
                tools={project.data.tools}
            />
        ))
    }
</Section>