---
// components
import Section from "../elements/Section.astro";
import ArticleCard from "../elements/ArticleCard.astro";

// utils
import { getReadingTime } from "../../utils/readingTime";

// content collection
import { getCollection } from "astro:content";
const blog = await getCollection("blog");
const recentArticles = blog
  .sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime())
  .slice(0, 3)
  .map((article) => ({
    ...article,
    readingTime: getReadingTime(article.body ?? "")
  }));
---

<Section 
    aria-label="Latest Articles"
    title="Latest Articles"
    titleHeading="What I've recently wrote"
>
    {
            recentArticles.map((article) => (
                <ArticleCard
                    title={article.data.title}
                    publishedDate={article.data.publishedDate}
                    slug={article.data.slug}
                    category={article.data.category}
                    readingTime={article.readingTime}
                />
            ))
        }
</Section>